Repository wkusnierczyk/aigent-raku: changes, and which lefthook commands are due for each by the changed paths.
All: syntax-check, syntax-check-bin

syntax-check:
  run: "for f in {staged_files}; do\n  raku -Ilib -c \"$f\" || exit 1\ndone\n"

syntax-check-bin:
  run: raku -Ilib -c {staged_files}

Implement CLI with validate, read-properties, to-prompt, --about
  bin/aigent
  t/06-cli.rakutest
Due: syntax-check, syntax-check-bin

Update CLAUDE.md: code blocks in PR test plan format
  CLAUDE.md
Due: none

Address code review findings: --about lookup, CATCH, stderr assertions
  bin/aigent
  t/06-cli.rakutest
Due: syntax-check, syntax-check-bin

M6: CLI (#52)
  CLAUDE.md
  README.md
  bin/aigent
  dev/m06/plan.md
  dev/m06/review.md
  t/06-cli.rakutest
Due: syntax-check, syntax-check-bin

Add M7 plan and review
  dev/m07/plan.md
  dev/m07/review.md
Due: none

Add Builder stubs, data model, and 23 test assertions
  lib/AIgent/Skill/Builder.rakumod
  lib/AIgent/Skill/Errors.rakumod
  t/07-builder.rakutest
Due: syntax-check

Implement Skill Builder with dual-mode architecture
  META6.json
  README.md
  bin/aigent
  lib/AIgent/Skill/Builder.rakumod
  t/07-builder.rakutest
Due: syntax-check, syntax-check-bin

Add blog post on Raku MAIN parsing and project board automation
  .github/workflows/project-automation.yml
  posts/raku-main-no-flag-parsing.md
Due: none

Address code review findings for M7
  .github/workflows/ci.yml
  lib/AIgent/Skill/Builder.rakumod
  t/07-builder.rakutest
Due: syntax-check

CI: drop Windows from matrix (REA MAX_PATH is upstream issue)
  .github/workflows/ci.yml
Due: none

M7: Skill Builder (#55)
  .github/workflows/ci.yml
  .github/workflows/project-automation.yml
  META6.json
  README.md
  bin/aigent
  dev/m07/plan.md
  dev/m07/review.md
  lib/AIgent/Skill/Builder.rakumod
  lib/AIgent/Skill/Errors.rakumod
  posts/raku-main-no-flag-parsing.md
  t/07-builder.rakutest
Due: syntax-check, syntax-check-bin

Implement M8: main module exports, docs, release workflow
  .github/workflows/release.yml
  CHANGES.md
  META6.json
  README.md
  dev/m08/plan.md
  dev/m08/review.md
  lib/AIgent/Skill.rakumod
  posts/raku-windows-ci-max-path.md
  t/08-main.rakutest
Due: syntax-check

Fix project automation: remove unused GraphQL variable
  .github/workflows/project-automation.yml
Due: none

Add spec compliance section and comparison table to README
  README.md
Due: none

Align spec compliance table with official Anthropic spec and Python reference
  README.md
  dev/m08/review.md
  lib/AIgent/Skill/Validator.rakumod
  t/04-validator.rakutest
Due: syntax-check

Update project description in README.md
  README.md
Due: none

Use product name instead of language name in compliance table
  README.md
Due: none

feat: Claude Code plugin with builder and validator skills
  .claude-plugin/plugin.json
  .github/workflows/release.yml
  .gitignore
  README.md
  dev/m09/plan.md
  dev/m09/review.md
  install.sh
  justfile
  skills/aigent-builder/SKILL.md
  skills/aigent-validator/SKILL.md
  t/09-plugin.rakutest
Due: syntax-check

feat: self-contained binary bundles for zero-dependency distribution
  .github/workflows/release.yml
  .gitignore
  bin/aigent
  bundle.sh
  install.sh
  lib/AIgent/Skill.rakumod
Due: syntax-check, syntax-check-bin

docs: add installation, plugin, and release bundle sections to README
  README.md
Due: none

feat: Claude Code plugin with builder and validator skills (#57)
  .claude-plugin/plugin.json
  .github/workflows/release.yml
  .gitignore
  README.md
  bin/aigent
  bundle.sh
  dev/m09/plan.md
  dev/m09/review.md
  install.sh
  justfile
  lib/AIgent/Skill.rakumod
  skills/aigent-builder/SKILL.md
  skills/aigent-validator/SKILL.md
  t/09-plugin.rakutest
Due: syntax-check, syntax-check-bin

docs: update README for release readiness
  README.md
Due: none

Update README to include note about aigent
  README.md
Due: none

Add clean target to justfile
  justfile
Due: none

Path conditions:
  syntax-check: any of: **/*.{rakumod,raku,rakutest}
  syntax-check-bin: any of: bin/aigent
